@tailwind base;
@tailwind components;

.filter {
  @apply flex flex-wrap justify-center items-center bg-white py-3;

  > .button {
    @apply rounded py-2 px-4 text-gray-600 mx-1 w-1/3;

    &:hover {
      @apply bg-blue-100 text-blue-500;
    }

    &.active {
      @apply bg-blue-100 text-blue-500;
    }

    @screen md {
      @apply w-auto;
    }
  }
}

.card-container {
  @apply flex flex-wrap items-center justify-between;

  > .card {
    @apply w-full p-4;

    @screen sm {
      @apply w-1/2;
    }

    @screen lg {
      @apply w-1/3;
    }
  }

  > .card > .content {
    @apply bg-white shadow p-3 cursor-pointer relative overflow-hidden;
  }

  > .card > .content > .image {
    background-image: url("cancun.jpeg");
    @apply bg-cover h-56;
  }

  > .card > .content > .overlay {
    @apply py-2 px-4 flex absolute w-full justify-between bottom-0 left-0 bg-white items-center;
    height: 4em;
    transition: all 500ms;

    @screen lg {
      @apply h-0 opacity-0 invisible;
    }
  }

  > .card > .content > .overlay > .button {
    @apply bg-ultraviolet rounded shadow text-gray-200 px-4 py-2 text-sm;
  }

  > .card:hover .content > .overlay {
    height: 4em;
    @apply opacity-100 visible;
  }
}

.login-cta {
  @apply fixed bottom-0 left-0 w-full shadow bg-clockwork text-white py-2 px-8;

  @screen md {
    @apply static w-auto;
  }
}

@tailwind utilities;
